absl-py==2.1.0
accelerate==0.20.3
addict==2.4.0
ale-py==0.10.2
annotated-types==0.7.0
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==21.1.0
attrs==21.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bleach==4.1.0
blinker==1.9.0
Bottleneck==1.3.2
brax==0.12.1
Brlapi==0.8.3
Brotli==1.0.9
catkin-pkg==0.4.24
certifi==2025.10.5
chardet==4.0.0
charset-normalizer==3.4.3
chex==0.1.89
click==8.1.8
colorama==0.4.4
comm==0.2.3
command-not-found==0.3
commonmark==0.9.1
ConfigArgParse==1.7.1
configobj==5.0.6
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
Cython==3.0.12
dash==3.2.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
diffusers==0.21.4
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
dm-env==1.6
dm-tree==0.1.9
dm_control==1.0.28
docutils==0.17.1
duplicity==0.8.21
entrypoints==0.4
et-xmlfile==1.0.1
etils==1.12.2
evdev==1.9.1
Farama-Notifications==0.0.4
fasteners==0.19
fastjsonschema==2.21.2
filelock==3.20.0
flake8==4.0.1
Flask==3.1.2
flask-cors==5.0.1
fonttools==4.29.1
fs==2.4.12
fsspec==2025.9.0
future==0.18.2
gast==0.5.2
glfw==2.8.0
gym==0.26.2
gym-notices==0.0.8
-e git+ssh://git@github.com/zixiliu/Gymnasium.git@ea9b858debb1bca55c9ad2ef8ad123afd790422e#egg=gymnasium
h11==0.14.0
h5py==3.6.0
h5py.-debian-h5py-serial==3.6.0
hf-xet==1.1.10
html5lib==1.1
httpcore==1.0.7
httplib2==0.20.2
httpx==0.28.1
huggingface-hub==0.13.4
humanize==4.12.2
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==1.1.1
iopath==0.1.10
ipydatawidgets==4.3.5
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==8.1.7
itsdangerous==2.2.0
jax==0.6.0
jaxlib==0.6.0
jaxopt==0.8.3
jdcal==1.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.1.6
joblib==1.5.2
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter_core==5.8.1
jupyterlab-pygments==0.1.2
jupyterlab_widgets==3.0.15
keras==3.10.0
keyring==23.5.0
kiwisolver==1.3.2
labmaze==1.0.6
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lightning-utilities==0.15.2
llama_stack_client==0.1.9
llvmlite==0.44.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==3.0.3
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mediapy==1.2.2
meshplot @ git+https://github.com/skoch9/meshplot.git@725e4a7926a5f10888f0edd1762fecf9db751c56
ml_collections==1.0.0
ml_dtypes==0.5.1
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
mujoco==3.3.0
mujoco-mjx==3.3.0
mujoco-py==2.1.2.14
namex==0.0.8
narwhals==2.7.0
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.10.4
nest-asyncio==1.5.4
netifaces==0.11.0
networkx==3.4.2
nose==1.3.7
notebook==6.4.8
numba==0.61.2
numexpr==2.8.1
numpy==1.24.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvcc-cu12==12.8.93
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-ml-py==12.555.43
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
open3d==0.19.0
opencv-python==4.12.0.88
openpyxl==3.0.9
opt_einsum==3.4.0
optax==0.2.4
optree==0.15.0
orbax-checkpoint==0.11.10
packaging==25.0
PAM==0.4.2
pandas==1.3.5
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.3.0
platformdirs==2.5.1
playground==0.0.4
plotly==6.3.1
pluggy==0.13.0
ply==3.11
plyfile==1.1.2
portalocker==3.2.0
potpourri3d==1.3
prometheus-client==0.9.0
prompt-toolkit==3.0.28
protobuf==4.21.12
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
py-spy==0.4.0
pyaml==25.1.0
pybind11==2.13.6
pycairo==1.20.1
pycodestyle==2.8.0
pycups==2.0.1
pydantic==2.11.1
pydantic_core==2.33.0
pyflakes==2.4.0
pyfmaps==1.0.1
pygame==2.6.1
Pygments==2.11.2
PyGObject==3.42.1
PyICU==2.8.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pynput==1.8.1
PyOpenGL==3.1.9
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyquaternion==0.9.9
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==6.2.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.8.1
python-debian==0.1.43+ubuntu1.1
python-xlib==0.33
pythran==0.10.0
pythreejs==2.4.2
pytinyrenderer==0.0.14
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@7711bf34a86bef32556eee09bc8ca715f677cd6b
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.3
pyzmq==22.3.0
regex==2025.9.18
reportlab==3.6.8
requests==2.32.5
retrying==1.4.2
rich==11.2.0
robust_laplacian==1.0.0
roman==3.3
rosbags==0.10.9
rosdep==0.21.0
rosdistro==0.8.3
rospkg==1.3.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.15.3
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
Send2Trash==1.8.1b0
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.1
ssh-import-id==5.11
stable_baselines3==2.6.0
sympy==1.14.0
systemd-python==234
tables==3.7.0
tensorboardX==2.6.2.2
tensorstore==0.1.72
terminado==0.13.1
terminator==2.1.1
testpath==0.5.0
threadpoolctl==3.1.0
tokenizers==0.13.3
toml==0.10.2
torch==2.8.0
torch-cluster @ file:///home/zixiliu/Documents/git_repos/pytorch_cluster
torchmetrics==1.8.2
torchvision==0.23.0
tornado==6.1
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
transformers==4.29.2
treescope==0.1.9
trimesh==4.8.3
triton==3.4.0
typing-inspection==0.4.0
typing_extensions==4.15.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
urllib3==2.5.0
urwid==3.0.3
usb-creator==0.3.7
virtualenv==20.13.0+ds
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
xdg==5
xkit==0.0.0
xlwt==1.3.0
zipp==3.23.0
zstandard==0.23.0
